<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Ex. jhonny" type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Ex.Sin" type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Middle Name</mat-label>
      <input matInput placeholder="Ex.Hub" type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>address</mat-label>
        <textarea matInput placeholder="Ex. Tacloban City..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. noBodyCares@gmail.com" type="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Ex. 09123456789" type="number">
    </mat-form-field>
  </form>